/* variables */
:root {
    --main-header-height: 108px;
    --art-header-top: 54px;
    --logo-reduction-h: 90px;
    --logo-reduction-v: 90px;
    --reduced-size: 100%;
    --padding-size: 5px;
}

.logo p{
    padding: 5px;
    margin: 0;
    /* line-height: 1.25; */
    font-weight: bolder;
}

.logo a{
    all: unset;
}

.logo {
    width: 200px;
    height: 40px;
}

/* new */
    .img-fluid{
        /* padding: 10px; */
        border-radius: 10px;
    }

    .artwork, .info-artist{
        border-radius: 10px;
        position: relative;
    }

    .art-header { 
        /* esta sticky-top activo tambien */
        background-color: white; 
        /* position: sticky; */
        z-index: 10;
    }
    
    .main-menu {
        /* esta sticky-top activo tambien */
        position: sticky;
        z-index: 20;
    }

    .liked {
        /* border-radius: 10%; */
        border: solid 30px rgba(177, 21, 21, 0.643);
        /* transition: border-radius 2s; */
        transition: border 2s;
    }

    .button-liked {
        border-radius: 50%;
    }

    .unliked {
        /* border-radius: 0%; */
        border: solid 0px white;
        /* transition: border-radius 2s; */
        transition: border 2s;
    }

    /* .likeable-zone{ */
        /* position: relative; */
    /* } */

    .bi{
        /* position: absolute; */
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(100%, -50%); */
        font-size: 2rem;
        color: rgb(180, 3, 3);
        background-color: none;
        width: 100%;
        height: 100%;
    }

    /* responsiveness forced */
    @media only screen and (min-width: 992px) {
        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 40px;
            /* border: solid 1.5px black; */
            /* overflow: visible; */
        }

        .img-fluid{
            width: 100%;
        }
    }

/* functionalities n animations */
#preview-page {
    z-index: 40;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    animation: fadeIn 120ms linear;
}

#preview-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 3%;
}

#magnifier { 
    z-index: 50;
    display: none;
    position: fixed; 
    bottom: 0%;
    right: 1.5%;
    
    width: 200px;
    height: 200px;

    background-color: rgba(0, 0, 0, 0.55);
    border: 5px solid rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    border-radius: 25%;

    animation: fadeIn 150ms linear;
    /* pointer-events: none; */
    /* transform-origin: top left; */
}

.search-icon {
    cursor: pointer;
}

/* quitarlo cuando no exista */
.search-input { 
    width: 0;
    opacity: 0;
    transition: width 0.5s, opacity 0.5s;
    /* display: none; */
}

.search-input.active {
    width: 200px;
    opacity: 1;
    padding: 5px;
}

/* quitarlo cuando no exista */
.search-submit {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    /* display: none; */
}

/* hace que aparezca el boton go */
.search-input.active + .search-submit{
    opacity: 1;
    visibility: visible;
    display: block;
}

/* when scrolling down
    .main-header.hide-header {
        background-color: rgba(0, 0, 0, 0);
    }

    .main-header.hide-header nav{
        transition: display 2s ease-in-out;
    }

    .main-header.hide-header .logo{
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.85);
        border: solid 2px rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
*/